/* Global Styles */

* {
    font-family: "Quicksand", sans-serif;
}

a {
    color: var(--blue);
}

/* CSS Color Variables */
:root {
    --blue: #006DFE;
    --grey: #c1c1c1;
    --related-post-grey: #f1f1f1;
}

/* Header Section */

header {
    background-color: var(--blue) ;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
}

/* Main Section */

main {
    max-width: 570px;
    margin: auto;
    
    figure {
        text-align: center;
        margin: 0;
        padding: 40px 0;
    }

    article {

        body {
            margin: 0;
        }
        
        h1, h2, h3, h4, h5, h6, .post-category {
            font-family: "Spectral", serif;
        }
        
        h1 {
            font-size: 2.25rem;
            line-height: 120%;
        }
        
        
        
        
        div#post-info {
            font-size: 0.875rem;
            color: var(--grey);
        }
        
        div.post-category {
            font-size: 1rem;
            font-weight: 600;
            color: var(--blue);
        }
        
        p, ul {
            font-size: 1rem;
            line-height: 150%;

        }

        iframe {
            margin: 25px 0 25px
        }

    }
    
    #related-post {
        background-color: var(--related-post-grey);
        padding: 20px;
        
        h4 {
            text-transform: uppercase;
            font-family: "Quicksand", sans-serif;
            font-weight: normal;
            font-size: 0.75rem;
            margin-bottom: 14px;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            padding: 0;
        }

        
    }

    section:last-of-type {
        margin-bottom: 50px;
    }


    
}

/* Footer Section */

footer {
    text-align: center;
    margin-top: 25px;
    border-top: 1px solid var(--grey);
    height: 50px;
    max-width: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


@media (max-width: 600px){
    header {
        width: 100%;
    }


    main {
        max-width: 300px;
        margin: auto;

        figure {
            img {
                width: 100%;
            }
        }

        article {
            iframe {
                width: 100%;
            }
        }

        section#related-post {
            ul {
                display: flex;
                flex-direction: column;
                gap: 5px
            }
        }
    }
}


